# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? 
# Store A

# Which store makes the most sales on average? 
# Store B

# Which store sells the most during the week of March 13th, 2016? 
# Store D

# In what week does store C make its worst sales? 
# Week 9, July 6, 2014

# Which store has the most sales in the latest 3-month period? 
# Store A

# What is the most consistent store in sales ? 
# Store D

# Given the information you gathered, what do you think is the best store financially?
# Store A, based on recent sales and forshadowing

In [2]:
# import and load the data
import pandas as pd
df = pd.read_csv('store_data.csv')

In [3]:
# explore the data (gather as much information as you can)
df.head()

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [5]:
# clean the data
df['week'] = pd.to_datetime(df['week'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    datetime64[ns]
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 9.5 KB

In [7]:
df.head()

        week  storeA  storeB  storeC  storeD  storeE
0 2014-05-04    2643    8257    3893    6231    1294
1 2014-05-11    6444    5736    5634    7092    2907
2 2014-05-18    9646    2552    4253    5447    4736
3 2014-05-25    5960   10740    8264    6063     949
4 2014-06-01    7412    7374    3208    3985    3023

In [8]:
sum(df.duplicated())

0

In [9]:
# total sales for the last month
print("For Store A ", df['storeA'].iloc[-4:].sum())
print("For Store B ", df['storeB'].iloc[-4:].sum())
print("For Store C ", df['storeC'].iloc[-4:].sum())
print("For Store D ", df['storeD'].iloc[-4:].sum())
print("For Store E ", df['storeE'].iloc[-4:].sum())

For Store A  25127
For Store B  24595
For Store C  16447
For Store D  22783
For Store E  7787

In [10]:
# average sales
print("For Store A ", df['storeA'].mean())
print("For Store B ", df['storeB'].mean())
print("For Store C ", df['storeC'].mean())
print("For Store D ", df['storeD'].mean())
print("For Store E ", df['storeE'].mean())

For Store A  5865.48
For Store B  6756.71
For Store C  4942.105
For Store D  5431.405
For Store E  2580.025

In [11]:
# sales on march 13, 2016
df[df['week'] == '2016-03-13']

         week  storeA  storeB  storeC  storeD  storeE
97 2016-03-13    2054    1390    5112    5513    2536

In [12]:
# worst week for store C
lowest_C = df['storeC'].min()
temp = df[df['storeC'] == lowest_C]
temp['week']

9   2014-07-06
Name: week, dtype: datetime64[ns]

In [13]:
# total sales during most recent 3 month period
print("For Store A ", df['storeA'].iloc[-12:].sum())
print("For Store B ", df['storeB'].iloc[-12:].sum())
print("For Store C ", df['storeC'].iloc[-12:].sum())
print("For Store D ", df['storeD'].iloc[-12:].sum())
print("For Store E ", df['storeE'].iloc[-12:].sum())

For Store A  82412
For Store B  75544
For Store C  60417
For Store D  68412
For Store E  27221

In [14]:
df.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [15]:
# Go back to the top and answer the questions